name: Mirror to Repo B

on:
  push:
    branches:
      - master

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository A
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Remove files not mirrored
        run: |
          rm -f .github/workflows/mirror-to-ide2lnk.yml
          rm -f CNAME

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Clear credential helpers
        run: |
          git config --global --unset credential.helper || true
          git config --system --unset credential.helper || true

      - name: Create temporary mirror commit
        run: |
          mkdir ../temp-mirror
          # Copia tudo de A para temp-mirror, exceto workflow e CNAME
          rsync -av --exclude='.git' --exclude='.github/workflows/mirror-to-ide2lnk.yml' --exclude='CNAME' ./ ../temp-mirror/
          cd ../temp-mirror
          git init
          find . -type f \( -iname 'CNAME' -o -iname 'mirror-to-ide2lnk.yml' -o -iname '.git'  \) -exec rm -f {} +
          git add -A
          git commit -m "Mirror commit" || echo "No changes to commit"

      - name: Push to Repo B
        env:
          TARGET_REPO: ide2lnk/mirror
          PAT: ${{ secrets.PAT_FOR_MIRROR }}
        run: |
          echo "Using PAT for push to ${TARGET_REPO}"
          git remote add mirror https://${PAT}@github.com/${TARGET_REPO}.git
          git branch --unset-upstream || true
          git push mirror HEAD:master --force
