name: Mirror to Repo B

on:
  push:
    branches:
      - master

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository A
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Remove files not mirrored
        run: |
          rm -f .github/workflows/mirror-to-b.yml
          rm -f CNAME

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Push to Repo B
        env:
          TARGET_REPO: ide2lnk/root
          PAT: ${{ secrets.PAT_FOR_MIRROR }}
        run: |
          echo "Using PAT for push to ${TARGET_REPO}"
          git remote add mirror https://${PAT}@github.com/${TARGET_REPO}.git
          git branch --unset-upstream || true
          git push mirror HEAD:master --force
